/* SPDX-License-Identifier: AGPL-3.0-or-later */

@media (prefers-color-scheme: dark) {
    .ROOT_CSS {}

    html {
        filter: invert(1) hue-rotate(180deg) !important;
        background-color: var(--color-bg-inverted) !important;
    }

    body {
        background-color: var(--color-bg-inverted) !important;
    }

    * {
        /* Switch from subpixel to standard grayscale anti-aliasing */
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;

        /* Manually thicken the glyphs */
        -webkit-text-stroke: .2px !important;
    }

    img,
    video,
    iframe,
    canvas,
    [style*="background-image"] {
        filter: invert(1) hue-rotate(180deg) !important;
    }
}
