.base-background {
  background-color: @theme_base_color;
}

.lightbulb-button {
    color: #d4a500;
}

.delete-button {
    color: #ff0000;
}

.find-bar {
    background-color: @theme_base_color;
    padding: 8px 12px;
}
